%html
%head
	%link{:rel => :stylesheet, :type => "text/css", :href => "/css/bootstrap.css"}
	%meta{:charset => :utf8}
%body
	%h3 Скриншотилка
	%p Скачать
	%ul
		%li для Windows 
		%li исходники
	%a{:href => "/upload"} загрузить вручную
	%hr/
	%small РПО "РязаньИнформСпецАльянсКоннектКошмарТелекомВинда-М Партнершип"