%html
%head
	%title Загрузка файла вручную
%body
	%h3 UPLOADER_TEXT
	%form{:action => "/upload",:method => "post", :enctype => "multipart/form-data" }
		%input{:type => "file", :name => "up_image",  :accept => "image/png"}
		%br
		%input{:type => "submit", :value => "UPLOAD_BTN_TEXT"}